* {
    margin: 0px; /* Margem*/
    padding: 0px; /* margem interna*/
    font-family: Arial; /* Fonte escolhida*/
    font-size: 12px; /* tamanho da fonte*/
}

/*definimos a largura, tamanho e posicionamento das divs abaixo*/
.topo {
    height: 30px; /*altura da caixa*/
    background-color: #333; /*cor de fundo*/
}

.topoint {
    width: 100%; /*Largura da caixa*/
    max-width:1040px; /*Largura MAXIMA da caixa*/
    height: 30px;
    margin: auto; /*centraliza a caixa horizontamente*/
}

.topoleft {
    width:50%;
    height: 30px;
    float: left; /*Deixa a caixa na esquerda*/
    
}

.toporight {
    width: 50%;
    height: 28px;
    float: right; /* Deixa a caixa na direita*/
    text-align: right;/*Alinha o texto na direita*/
    margin-top: 2px; /*Margem do topo*/
    
}

.topoleft ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; /*tipo de estilo none é nenhum*/
}

/*Centralizar texto verticalmente line-height, margem de 8 px para cada lado para da um total de 16px*/
.topoleft li{
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 8px;
    margin-right: 8px;
}

.topoleft li a {
    text-decoration: none;
    color: #fff;
}
.topoleft li .ativo {
    color: #00f;
}

.topobusca {
    width: 110px;
    height: 23px;
    outline: 0; /* Usado para retirar a borda em volta da caixa*/
    margin: 0;
    padding: 0;
}
.toporight a {
    float: right;
}
.toporight input{
    float: right;
}
.toporight img {
    margin-right: 4px;
}

.topo2 {
    height: 95px;
    color: #000;
    
}
.topo2int {
    width:100%;
    max-width:1040px;
    height:95px;
    margin:auto;
    
}

.logo {
    width: 230px;
    height:90px;
    float: left;
    margin-top: 5px;
}

.topo2 .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: #f00;
}

.topo2int .text_banner {
    width:100%;
    max-width: 300px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
}
.text_banner h2 {
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

.menu {
    height: 40px;
    background-color: #f00;
}
.menuint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.menu  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
}
.menu li:hover .submenu {
    display: block;
}
.menu a {
    color: #fff;
    text-decoration: none;
}

/* Submenu com dropdown */

.submenu {
    margin: 0px;
    padding: 0px;
    width: 150px;
    background-color: #000;
    position: absolute;
    display: none;
}
.submenuitem {
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.submenuitem:hover {
    background-color: rgb(102, 94, 94);
}

/**/

.ultimasnoticias {
    height: 40px;
}
.ultimasnoticiasint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.ultnoticiasarea {
    height: 28px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.ultnoticiastitulo {
    background-color: #F00;
    color: #fff;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
.ultnoticiasnoticia {
    color: #000;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;
}

.containerint {
    width: 100%;
    max-width: 1040px;
    margin: auto;
}
.leftside {
    width: 753px;
    float: left;
}
.rightside {
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
}

.widget {
    border:1px solid #ccc;
    background-color:#fff;
    margin-bottom:10px;
}
.widget_titulo {
    height: 30px;
    line-height:30px;
    background-color:#ddd;
    border-bottom:1px solid #ccc;
    padding-left: 5px;
    font-weight: bold;
    font-size: 15px;
}
.widget_conteudo {
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}
.noticia_item  {
    font-size:14px;
    margin:0px 10px;
    padding:10px 0px;
    text-align:left;
    border-bottom:1px  solid #ccc;
}

.noticia_item a {
    text-decoration:none;
    color:#000;
}

.slideshow {
    height: 335px;
    overflow:hidden;
}
.slideshowarea{
    
    height:335px;
}
.slide {
    width: 750px;
    height: 335px;
    float: left;
    background-image: url('http://www.google.com.br/google.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}