* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    height:300vh;
}

.container {
    width:100%;
    height:800px;
    background-color:rgba(0, 0, 255, 0.646);
}

.container .container_header {
    width:100%;
    height:150px;
    background-color: rgba(0, 255, 0, 0.618);
    position:fixed;
}

.header {
    width: 350px;
    height: 100px;
    position: fixed;
    left: 180px;
    background-color:rgba(68, 68, 68, 0.597);
}

.logo {
    width: 100px;
    height: 70px;
    background-color:rgba(255, 0, 0, 0.801);
    position: fixed;
    left: 25px;
    top: 25px;
    
}

.menu {
    width: 150px;
    height: 50px;
    background-color: rgba(0, 170, 119, 0.766);
    position:fixed;
    right: 25px;
    top:25px;
}

.menu span {
    background-color: aquamarine
    
}

.menu p {
    font-size: 24px;
    color: #fff;
    text-align: center;
    background-color:#a85;
}
.menu .sobreNos {
    background-color: aqua;
}

.container_body {
    position:relative;
    top:150px;
}

.body_master {
    
}

.body_left {
    width: 49%;
    height: 300px;
    background-color:aqua;
}

.body_right {
    width: 49%;
    height: 300px;
    background-color:rgb(197, 29, 29);
    position:relative;
    right: 0;
}



.propaganda img {
    position: relative;
    left:300px;
}


.propaganda {
    width:336px;
    height:280px;
    margin-top:200px;
    background-color:pink;
}



