
body {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.topo {
    width:800px;
    height:100px;
    margin: auto;
}
.logo {
    width:50%;
    height:100px;
    float:left;
    background-color:#eee;
}
.menu {
    width:50%;
    height:100px;
    float:left;
    background-color:#ddd;
}
.corpo {
    width:800px;
    height:200px;
    margin:auto;
    background-color:#ccc;
}
.rodape {
    width:800px;
    height: 100px;
    margin:auto;
    background-color:#ddd;
}

@media only screen and (max-width:400px) {
    .topo {
        height:200px;
    }
    .logo {
        width:100%;
    }
    .menu {
        width:100%
    }
}
@media only screen and (max-width:800px){
    .topo {
        width:500px;
    }
    .corpo {
        width:500px;
    }
    .rodape {
        width:500px;
    }
}
@media only screen and (max-width:800) {

    .topo {
        width:300px;
        height:200px;
    }
    .logo {
        width:100%;
    }
    .menu {
        width:100%;
    }
    .corpo {
        width:300px;
    }
    .rodape {
        width:300px;
    }
}